.containers {
  background-color: rgb(170, 198, 223);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 8px;
  padding: 1rem;
  border-radius: 4px;
}

img {
  width: -webkit-fill-available;
  height: 500px;
}

.profile-page{
  justify-content: center;
  margin: auto;
  padding: 2rem;
}
