.containers {
  background-color: rgb(170, 198, 223);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 8px;
  padding: 1rem;
  border-radius: 4px;
}

img {
  width: 250px;
  height: 200px;
}

.card-one{
  justify-content: center;
  margin: 1rem;
}

.card-two{
  justify-content: center;
  margin: 1rem ;
}
