<div class="container mt-2">
  <div class="row app-container p-2 col-lg-10 offset-md-1">

    <!-- event containers -->
    <div class="card-one" style="width:250px; height:auto; border:1px solid #000;">
      <img src="https://cdn.mos.cms.futurecdn.net/d7dgfP3KC2PsmEUjmxDQNe.jpg" alt="event" >
      <br>
      <span><strong>Book of Boba Bett</strong> </span>
      <br>
      <span>Feb. 6th - March 6th</span>
      <br>
      <span><em>The Book of Boba Fett continues The Mandalorian saga on Disney Plus. The infamous bounty hunter who seemingly died in Return of the Jedi not only survived, but helped rescue Baby Yoda and has now returned to Tatooine to stake a claim to a criminal empire. </em></span>
    </div>

    <!-- //event containers -->
    <div class="card-two" style="width:250px; height:auto; border:1px solid #000;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/91+5a2Dr+5L.jpg" alt="event" >
      <br>
      <span><strong>Book of Boba Bett</strong> </span>
      <br>
      <span>April 1st - July 4th</span>
      <br>
      <span><em>The travels of a lone bounty hunter in the outer reaches of the galaxy, far from the authority of the New Republic.</em></span>
    </div>

  </div>
</div>

